<div class="container">
    <h1>My Heroes</h1>
    <!-- <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input ng-model="searchInput" ng-change="onSearch()" type="text" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
      </ng-template> -->
    <div class="heroes">
        <div *ngFor="let hero of heroes" >
            <a routerLink="/detail/{{hero.id}}">
                <div class="hero">
                    <span class="id">{{hero.id}}</span>
                    <span>{{hero.name}}</span>
                    <span class="del"><i nz-icon nzType="close-square" nzTheme="outline"></i></span>
                </div>
                
            </a>
        </div>   
    </div>    
</div>

